@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
.blue {
  color: #13A7D7;
}

.reset {
  margin-left: 0 !important;
  clear: both;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50px;
}

h1, h2 {
  color: #13A7D7;
  margin-bottom: 15px;
  text-align: center;
}

.more {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #16b0e3;
  background-image: -moz-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -ms-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19b7eb), to(#13A7D7));
  background-image: -webkit-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -o-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: linear-gradient(to bottom, #19b7eb, #13a7d7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15b6ea', endColorstr='#13a3d2', GradientType=0);
  border: none;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.more:hover {
  background-color: #13a8d8;
  background-image: -moz-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -ms-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14aee0), to(#12a0ce));
  background-image: -webkit-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -o-linear-gradient(top, #14aee0, #12a0ce);
  background-image: linear-gradient(to bottom, #14aee0, #12a0ce);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13abdc', endColorstr='#129cc9', GradientType=0);
  cursor: pointer;
  text-decoration: none;
}
.more.wider {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

form {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  text-align: center;
}
form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
form .form_row {
  margin: 0 0 10px 0;
  position: relative;
}
form .input input{
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: white;
  border: 1px solid #ccc;
  color: #13A7D7;
  display: inline-block;
  height: 45px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  overflow: auto;
  padding: 10px 20px 10px 100px;
  width: 900px;
}
form .input textarea {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: white;
  border: 1px solid #ccc;
  color: #13A7D7;
  display: inline-block;
  height: 45px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  overflow: auto;
  padding: 10px 20px 10px 100px;
  width: 1200px;
}

form .input textarea {
  height: 250px;
}
form .input label {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #333;
  cursor: text;
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  top: 14px;
  left: 15px;
}

form .input.active {
  overflow: hidden;
  width: 100%;
}
form .input.active input{
  padding-left: 155px;
  width: 900px;
}
form .input.active textarea {
  padding-left: 155px;
  width: 1200px;
}
form .input.active input:required:invalid, form .input.active textarea:required:invalid {
  border: 1px solid #e9322d;
  color: #e9322d;
}
form .input.active input:required:invalid + label, form .input.active textarea:required:invalid + label {
  background: #e9322d;
}
form .input.active input:required:invalid:focus + label, form .input.active textarea:required:invalid:focus + label {
  background: #e9322d;
}
form .input.active label {
  -moz-border-radius: 14px 0 0 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px 0 0 14px;
  color: #fff;
  background: #13A7D7;
  top: 0;
  left: 0;
  padding: 14px 10px;
  text-align: center;
  width: 150px;
  font-size:1.1em;
}
form .input.active label span {
  color: #fff !important;
}
form .input.active textarea + label {
  -moz-border-radius: 14px 0;
  -webkit-border-radius: 14px;
  border-radius: 14px 0;
}
form :-moz-placeholder {
  color: #777;
}
form :-ms-input-placeholder {
  color: #777;
}
form ::-webkit-input-placeholder {
  color: #777;
}

@media only screen and (min-width: 768px) {
  [class*="span"] {
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2.564102564102564%;
  }

  .span6 {
    width: 900px;
  }

  .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
}
