@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
.blue {
  color: #13A7D7;
}

.reset {
  margin-left: 0 !important;
  clear: both;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50px;
}

h1, h2 {
  color: #13A7D7;
  margin-bottom: 15px;
  text-align: center;
}

.more {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #16b0e3;
  background-image: -moz-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -ms-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19b7eb), to(#13A7D7));
  background-image: -webkit-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: -o-linear-gradient(top, #19b7eb, #13A7D7);
  background-image: linear-gradient(to bottom, #19b7eb, #13a7d7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15b6ea', endColorstr='#13a3d2', GradientType=0);
  border: none;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.more:hover {
  background-color: #13a8d8;
  background-image: -moz-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -ms-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14aee0), to(#12a0ce));
  background-image: -webkit-linear-gradient(top, #14aee0, #12a0ce);
  background-image: -o-linear-gradient(top, #14aee0, #12a0ce);
  background-image: linear-gradient(to bottom, #14aee0, #12a0ce);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13abdc', endColorstr='#129cc9', GradientType=0);
  cursor: pointer;
  text-decoration: none;
}
.more.wider {
  margin-left:45%;
  margin-top:50px;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#mapForm {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
/*   text-align: center; */
}
#mapForm fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#mapForm .form_row {
  margin: 0 0 10px 0;
  position: relative;
}
#mapForm .input input{
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: white;
  border: 1px solid #ccc;
  color: #222;
  display: inline-block;
  height: 45px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  overflow: auto;
  padding: 10px 20px 10px 100px;
  width: 700px;
}
#mapForm .input textarea {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: white;
  border: 1px solid #ccc;
  color: #222;
  display: inline-block;
  height: 45px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  overflow: auto;
  padding: 10px 20px 10px 100px;
  width: 930px;
}

#mapForm .input textarea {
  height: 210px;
}
#mapForm .input label {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #333;
  cursor: text;
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  top: 14px;
  left: 15px;
}

#mapForm .input.active {
/*   overflow: hidden; */
  width: 100%;
}
#mapForm .input.active input{
  padding-left: 155px;
/*   width: 900px; */
}
#mapForm .input.active textarea {
  padding-left: 155px;
/*   width: 1200px; */
}
#mapForm .input.active input:required:invalid, #mapForm .input.active textarea:required:invalid {
  border: 1px solid #57CACA;
  color: #57CACA;
}
#mapForm .input.active input:required:invalid + label, form .input.active textarea:required:invalid + label {
  background: #57CACA;
}
#mapForm .input.active input:required:invalid:focus + label, #mapForm .input.active textarea:required:invalid:focus + label {
  background: #57CACA;
}
#mapForm .input.active label {
  -moz-border-radius: 14px 0 0 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px 0 0 14px;
  color: #fff;
  background: #469A9A;
  top: 0;
  left: 0;
  padding: 14px 10px;
  text-align: center;
  width: 150px;
  font-size:1.1em;
}
#mapForm .input.active label span {
  color: #fff !important;
}
#mapForm .input.active textarea + label {
  -moz-border-radius: 14px 0;
  -webkit-border-radius: 14px;
  border-radius: 14px 0;
}
#mapForm :-moz-placeholder {
  color: #777;
}
#mapForm :-ms-input-placeholder {
  color: #777;
}
#mapForm ::-webkit-input-placeholder {
  color: #777;
}

@media only screen and (min-width: 768px) {
  [class*="span"] {
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2.564102564102564%;
  }

  .span6 {
/*     width: 900px; */
  }

  .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
}






*:before, *:after {
  box-sizing: inherit;
}

.icon {
  display: block;
  position: relative;
/*   width: 1.5em; */
  height: 1.5em;
  margin: 0 auto;
}
.icon:before, .icon:after {
  content: "";
  position: absolute;
}

.dropp {
  width: 220px;
  margin-left: 710px;
}

.dropp-header {
  background: #AACCCC;
  color: #fff;
  border-bottom: 2px solid #549595;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
}

.dropp-header__title {
  display: block;
  padding: 0.8em 0.5em;
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  box-flex: 8;
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.dropp-header__btn {
  display: block;
  background: #AACCCC;
  color: #fff;
  padding: 0.8em 0.5em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropp-header__btn .icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dropp-header__btn .icon:before, .dropp-header__btn .icon:after {
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15%;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.dropp-header__btn .icon:after {
  top: 55%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dropp-header__btn.js-open {
  background: rgba(7, 66, 86, 0.3);
}
.dropp-header__btn.js-open .icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dropp-header__btn.js-open .icon:before, .dropp-header__btn.js-open .icon:after {
  background: #fff;
}
.dropp-header__btn:focus {
  outline: none;
}

.dropp-body {
  overflow: hidden;
  z-index: 5;
  position: absolute;
  width: 220px;
  max-height: 0;
  background: #AACCCC;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropp-body.js-open {
  max-height: 28em;
}
.dropp-body label {

  display: block;
  font-size: 0.875em;
  color: #fff;
  text-decoration: none;
  padding: 1em 0.5em;
  font-weight: 400;
  box-shadow:0 -1px 0 #f9f9f9, inset 0 1px 0 #FFFFFF;
  cursor: pointer;
}
.dropp-body label:first-child {
  box-shadow: none;
}
.dropp-body label:hover, .dropp-body label.js-open {
  background: #6FADAD;
}
.dropp-body label > input {
  display: none;
}

