@CHARSET "UTF-8";



.backDrop {
	background-color: #000;
	display: none;
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 100%;
	left: 0px;
	z-index: 50;
}

.box {
	background-color:none;
	display: none;
	height: 600px;
	width: 1700px;
	left: 4%;
	opacity: 0;
	position: absolute;
	z-index: 51;
	overflow: hidden;
}

.contentDiv {
	width: 500px;
	height: 600px;
	background: none;
	margin-left: 1200px;
	overflow: hidden;
	word-break:break-all; 
	word-wrap:break-word;
}

.largeImage {
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-style: solid;
	border-color: white;
	width: 700px;
	height: 500px;
}

.close {
	position: absolute;
	right: 0px;
	cursor: pointer;
}

.title-out > h1 {
	margin-left: -18px;
	font-size:50px;
	color: white;
}

.contentDiv > h2 {
	margin-left: 18px;
	font-size: 30px;
	color: white;
}

#hr1 {
	width:95%; 
	border-top: 3px solid white;
	margin: 0px auto;
}

#hr2 {
	width:95%; 
	border-top: 1px solid white;
	margin-top: 3px;
}

.move {
	cursor: move;
}

.title-out{
	width: 80%;
	margin-left: 30px;
	float: left;
}

.linkBtn {
	margin-left: 390px;
	position: absolute;
	top: 548px;
  background-color: white;
  color: black;
  border: 4px solid black;
  height: 50px;
  width: 100px;
  line-height: 50px;
  text-align: center;
  font-family: helvetica;
  font-size: 1.5em;
  /*NOW 3D*/
  transition: all 0.3s ease-in-out;
  transform: perspective(100px) rotateY(0deg);
  transform-origin: 0% 50%;
}

.linkBtn:hover {
  background-color: black;
  color: white;
  /*NOW 3D*/
  transform: perspective(500px) rotateY(-20deg);
  cursor: pointer;
}

.myCanvas{
	
}