@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://weloveiconfonts.com/api/?family=entypo);


.hit-the-floor {
color: #fff;
font-size: 90px;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

.hit-the-floor {
  text-align: center;

}







fa {
  font-family: 'FontAwesome';
}

.preload * {
	box-sizing: border-box;
  transition: none !important;
}

.modify{
	
	padding-top:20px;
	 font-size:20px;
	 line-height:30px;
 	 float:left;
	
	 height:240px;
}

body,
.wrapper{
  margin:0 auto;
  padding-top:200px;
 
  width:60%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.grid-unit {
  position: relative;
  float: left;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  width: 50%;
  height: 50%;
  perspective: 800;
  overflow: hidden;
}

.top-left {
  background: #CCC6BC;
}

.top-right {
  background: #145873;
  border-right: 10px solid #fff;
}

.bottom-right {
  background: #D94E4E;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #fff;
}

.bottom-left {
  background: #04ADBF;
  border-bottom: 10px solid #fff;
}

.swing-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  font-size: 2.5em;
  color: #fff;
  font-family: Oxygen, arial, sans-serif;
  transform-origin: left 50%;
  transform: rotateY(120deg);
  transition: transform .5s ease;
  letter-spacing: -.05em;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.top-right .swing-panel,
.bottom-right .swing-panel{
  transform-origin: right 50%;
  transform: rotateY(-120deg);
}

.desc {
  display: block;
  position: absolute;
 /*
   padding: 3%;
 */
}

.label {
  position: absolute;
  font-family: Oxygen, arial, sans-serif;
  color: #fff;
  font-size: 1.2em;
  opacity: 1;
  transition: opacity .5s ease;
  z-index:3;
}

.grid-unit:hover .label {
  opacity: 0;
}

.top-left .label {
	font-size:43px;
	margin: 70px 0 0 24px;
	text-align: center;
  /*
  transform: rotate(45deg);
  */
}


.top-right .label {
  font-size:50px;
  left:25%;
  bottom: 40%;
  /*
  transform: rotate(-45deg);
  */
}

.bottom-left .label {
  font-size:50px;
  top: 40%;
  right: 32%;
  /*
  transform: rotate(-45deg);
  */
}

.bottom-right .label {
  font-size:50px;
  top: 40%;
  left: 25%;
  /*
  transform: rotate(45deg);
  */
}

.top-left .desc {
  padding:3%;
  top: 18px;
  left: 0;
}

.top-right .desc {
  font-size:40px;
  padding:17%;
  top: 0;
  right: 0;
  font-weight: 800;
}

.bottom-left .desc {
 font-size:40px;
  padding:17%;
  bottom: 0;
  left: 0;
  font-weight: 800;
}

.bottom-right .desc {
  font-size:40px;
  padding:17%;
  bottom: 0;
  right: 0;
    font-weight: 800;
}

.grid-unit:hover .swing-panel {
  position:relative;
  z-index:99;
  transform: rotateY(0deg);
}
.swing-panel .btn-step2 {
	padding-left: 10px;
}
.sphere {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255,255,255,1);
  border-radius: 500px;
  transition: background-color .25s ease;
  opacity: 1;
}

.top-left .sphere {
  right: -100px;
  bottom: -100px;
}

.top-right .sphere {
  left: -100px;
  bottom: -100px;
}

.bottom-right .sphere {
  left: -100px;
  top: -100px;
}

.bottom-left .sphere {
  right: -100px;
  top: -100px;
}

.grid-unit:hover .sphere {
  background-color: rgba(255,255,255,0);
}

.icon {
  position: absolute;
  font-size: 2em;
  transition: all .25s ease;
  z-index: 5;
}

.bottom-left .icon {
  top: 20px;
  right: 30px;
  color: rgba(84,36,55,1);
}

.bottom-right .icon {
  top: 20px;
  left: 22px;
  color: rgba(192,41,66,1);
}

.top-right .icon {
  bottom: 25px;
  left: 20px;
  color: rgba(217,91,67,1);
}

.top-left .icon {
  bottom: 25px;
  right: 35px;
  color: rgba(236,208,120,1);
}

.grid-unit:hover .icon {
  color: #fff;
  font-size: 4em;
}

.button {

  display: inline-block;
  width:140px;
  font-size:10px;
  height:40px;
  margin: auto;
  border: none;
  background: #8C8C8C;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: '';
  background: #565656;
  width: 800px;
  height: 600px;
  position: absolute;
  -webkit-transform: translate(-1000px, -400px) rotate(130deg);
      -ms-transform: translate(-1000px, -400px) rotate(130deg);
          transform: translate(-1000px, -400px) rotate(130deg);
  -webkit-transition: all 700ms ease;
          transition: all 700ms ease;
}
.button:after {
  content: attr(data-word);
  color: white;
  position: relative;
  z-index: 100;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  font-weight: 200;
}
.button:hover:after {
  font-size:18px;
}
.button:hover:before {
  -webkit-transform: translate(-200px, -400px) rotate(130deg);
      -ms-transform: translate(-200px, -400px) rotate(130deg);
          transform: translate(-200px, -400px) rotate(130deg);
}




