@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700);
<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>



h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif
}
#main-content {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#categories {
	background: #000 url(../images/ch.jpg) no-repeat top center;
	
	
	border-bottom: 3px solid #666666;
	
	height: 620px;
	padding: 0
}

#categories h1 {
	color: #FFF;
	font-size: 45px;
	font-weight: 700;
	line-height: normal;
	margin: 0 0 47px
}

#categories h2 {
	color: #FFF;
	font-size: 24px;
	font-weight: 300;
	line-height: normal;
	margin: 0 0 47px
}

#categories .flipper {
	float: left;
	border: 0
}

#categories .block .title {
	opacity: 0
}

#categories .block .icon {
	display: block;
	position: relative;
	background: no-repeat;
	height: 74px;
	top: 58px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

#categories .block .icon span:last-child {
	display:block;
	font-style:normal;
	
}

#categories .block.army>span {
	background-color: #706D3C
}

#categories .block.orange>span {
	background-color: #E65527
}

#categories .block.teal>span {
	background-color: #37A5B3
}

#categories .block.plum>span {
	background-color: #363948
}

#categories .block.purple>span {
	background-color: #716F84
}

#categories .block.yellow>span {
	background-color: #D5BC3A
}

#categories .block.green>span {
	background-color: #5EA07F
}

#categories .block.blue>span {
	background-color: #1D6285
}

#categories .block.sky>span {
	background-color: #86B3BB
}

#categories .block.red>span {
	background-color: #C32E61
}

#categories .flipper-front {
	opacity: .9;
	text-align: center;
}

#categories .flipper-back {
	color: #fff;
	font-size: 21px
}

#categories .flipper-back>span:first-child {
	margin-top: 42px
}

#categories .flipper-back>span {
	margin-top: 10px
}

#categories .flipper-back span {
	display: block
}

#categories .flipper-back span>span {
	font-size: 14px;
	text-transform: uppercase;
	opacity: .5
}

#categories .block, #categories .flipper-front, #categories .flipper-back
	{
	display: inline-block;
	text-align: center;
	height: 181px;
	width: 192px;
	color: #fff;
}

#categories .flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-ms-transition: .6s;
	transition: .6s;
	position: relative
}

#categories .flip-container:hover .flipper-back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg)
}

#categories .flip-container:hover .flipper-front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

#categories .flipper-front, #categories .flipper-back {
	-webkit-backface-visibility: hidden;
	-webkit-transition: .6s;
	-moz-backface-visibility: hidden;
	-moz-transition: .6s;
	-ms-backface-visibility: hidden;
	-ms-transition: .6s;
	backface-visibility: hidden;
	transition: .6s;
	position: absolute;
	left: 0
}

#categories .flipper-front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-color: #fff
}

#categories .flipper-back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	background-color: #ddd
}


#subjects i.subject_icon {
	display: block;
	width: 34px;
	height: 34px;
	margin: 17px auto;
	background: no-repeat top
		left
}

section p, section ul li {
	font: 400 15px/160% Helvetica, Arial, sans-serif 
}


.dialog-box_info{
  border-radius: 1em;
  color: #fafafa;
  margin: 5% auto;
  max-width: 25em;
  padding: 2em;
  position: relative;
  width: 95%;
}
.dialog-box_info:before{
  background: rgba(43, 42, 42, 0.86);
  content: attr(data-title);
  left: 50%;
  padding: 4px 1em;
  position: absolute;
  text-transform: uppercase;
  top: -0.6em;
  text-align: center;
  transform: translateX(-50%);
}

.dialog-box_info {
  border: 0.2em solid rgba(204, 204, 204, 0.89);
}
.dialog-box_info:before {

  border-left: 0.2em solid #f9f9f9;
  border-right: 0.2em solid #f9f9f9;
  /*
  color: #9ceefe;
  */
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 3px 9px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;
}



.alertDiv{
	background: #fff;
	width: 400px; 
	height: 200px; 
	position: absolute;
	z-index: 999;
	top: 165px;
	left: 40%;
	box-shadow: 0 0 30px 10px #f9f9f9;
	display: none;
/* 	transition: .5s; */
}



.alertDiv > h1{
    text-align:center;
	font-size: 30px;
	font-weight: 400;
	font-family: sans-serif,'Hanna';
	text-shadow: 8px 1px 5px rgba(0,0,0,0.4);
}



.alertDiv > h2{
	padding-top:0px;
    text-align:center;
	font-size: 50px;
	font-weight: 500;
	font-family: 'Merriweather', serif;
	/*
	text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	text-shadow: 9px 11px 4px rgba(0,0,0,0.4);
	*/
}