/* Component Needs */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.pc-tab>input, .pc-tab section>div {
	display: none;
}

/*소개 동영상*/
.introVideo {
	margin: 0 auto;
	width: 90%;
	padding-bottom: 100px;
	height: 500px;
	border-bottom: 2px solid #666666;
	border-top: 2px solid #666666;
}

.introVideo .chartList{
/* 	border: 1px solid black;  */
	height: 346px;
}

.introVideo h3{
	margin: 25px 0px 0px 10px;
	font-size: 20px;
	font-family: 'Hanna', serif;
	color: purple;
}

.introVideo h4{
	margin: 5px 0px 0px 8px;
	font-size: 16px;
	font-family: 'Hanna', serif;
}

.introVideo .chartItem{
/* 	border: 1px solid black;  */
	height:322px; 
	width:270px; 
	margin: 10px 10px 10px 50px; 
	float: left;
}

.introVideo .chartItem:hover img {
    opacity: .5;
}

.introVideo .lectureImg{
/* 	border: 1px solid black;  */
	height: 185px;
}

.introVideo .lectureImg img{
	width:270px; 
	height: 185px;
}

.introVideo .lectureText{
/* 	border: 1px solid black; */
	height: 126px;
	margin-top: 10px;
}



.videoDiv {
	height: 390px;
	width: 650px;
	margin: 40px 0 40px 0;
	margin-left: 235px; 
	padding: 10px;
	box-shadow:0 0 10px 10px #dfdfdf;
	float: left;
}

article{
	/*
  margin: 10px 0;
	*/
  margin-top:100px;
  background: rgba(0,0,0,0.7);
  padding: 15px 20px;
  color: #fff;
	
}


.introContent {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 640px;
  z-index: 1;
}




.introText {
	width: 500px;
	height: 300px;
	float: left; 
	margin: 100px 40px 20px;
	margin-left: 80px;
}

#tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked 
	 ~ section .tab3 {
	display: block;
}

#tab1:checked ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~
	nav .tab3 {
	color: red;
}

/* Visual Styles */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	background: #ecf0f1;
	font-family: 'Raleway';
}

.pc-tab {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}

.pc-tab ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pc-tab ul li label {
	font-family: "Raleway";
	float: left;
	padding: 15px 25px;
	/*
  border: 1px solid #ddd;
  */
	border-bottom: 0;
	background: #eeeeee;
	color: #444;
	height: 50px;
}

.pc-tab ul li label:hover {
	background: #dddddd;
}

.pc-tab ul li label:active {
	background: #ffffff;
}

.pc-tab ul li:not (:last-child ) label {
	border-right-width: 0;
}

.pc-tab section {
	font-family: "Droid Serif";
	clear: both;
}

.pc-tab section div {
	line-height: 1.5em;
	letter-spacing: 0.3px;
	color: #444;
}

.pc-tab section div h2 {
	margin: 0;
	font-family: "Raleway";
	letter-spacing: 1px;
	color: #34495e;
}

#tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked 
	 ~ nav .tab3 label {
	background: white;
	color: #111;
	position: relative;
	font-weight: 900;
}

#tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after,
	#tab3:checked ~ nav .tab3 label:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ffffff;
	left: 0;
	bottom: -1px;
}

footer {
	margin-top: 50px;
	font-size: 14px;
	color: #CCC;
	text-align: center;
}

footer a {
	color: #AAA;
	text-decoration: none;
}