div#carousel {
	perspective: 1200px;
	background: #F6F6F6;
	font-size: 0;
	margin-bottom: 3rem;
	overflow: hidden;
}

div#carousel h2{
	font-size: 35px;
}

figure#spinner {
	transform-style: preserve-3d;
	height: 450px;
	transform-origin: 50% 50% -600px;
	transition: 1s;
}

figure#spinner video {
	width: 500%;
	max-width: 600px;
	max-height: 400px;
	position: absolute;
	left: 30%;
	transform-origin: 50% 50% -600px;
	outline: 1px solid transparent;
	-webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 10px 5px #777;
}

figure#spinner video:nth-child(1) {
	transform: rotateY(0deg);
}

figure#spinner video:nth-child(2) {
	transform: rotateY(-60deg);
}

figure#spinner video:nth-child(3) {
	transform: rotateY(-120deg);
}

figure#spinner video:nth-child(4) {
	transform: rotateY(-180deg);
}

figure#spinner video:nth-child(5) {
	transform: rotateY(-240deg);
}

figure#spinner video:nth-child(6) {
	transform: rotateY(-300deg);
}
/* 
figure#spinner video:nth-child(7) {
	transform: rotateY(-270deg);
}

figure#spinner video:nth-child(8) {
	transform: rotateY(-315deg);
} */

div#carousel ~ span {
	color: #000;
	margin: 5%;
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	transition: 0.6s color;
	position: relative;
	margin-top: -6rem;
	border-bottom: none;
	line-height: 0;
}

div#carousel ~ span:hover {
	color: #8000ff;
	cursor: pointer;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(120px);
  }
}
#container {
  height: 100%;
  width: 100%;
  background: #F6F6F6;
}

.item {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#pager {
  z-index: 9990;
  position: fixed;
  left: 0;
  width: 100%;
  top: 50px;
  display: inline-block;
  font-size: 5em;
  background: #F6F6F6;
}
#pager span {
  color: #95A5A6;
  cursor: pointer;
  margin: 5px;
}
#pager .cycle-pager-active {
  color: #EEEEEE;
}